@charset 'utf-8';
@import './_variables.scss';

//common mixin
@mixin clear {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// responsive
@mixin large {
  @media (max-width: #{$screen-breakpoint1}) {
    @content;
  }
}
@mixin medium {
  @media (max-width: #{$screen-breakpoint4}) {
    @content;
  }
}
@mixin small {
  @media (max-width: #{$screen-breakpoint6}) {
    @content;
  }
}
