@charset 'utf-8';

/* header */
.header {
  .m-nav {
    display: none;
    &__trigger {
      display: none;
      cursor: pointer;
    }
    &__searchBtn {
      display: none;
    }
  }
  &__utill {
    width: 100%;
    height: 50px;
    background-color: #4f6280;
    &--inner {
      display: flex;
      justify-content: space-between;
      max-width: 1500px;
      height: 50px;
      margin: 0 auto;
    }
  }
  .utill {
    &__eg {
      display: flex;
      align-items: center;
      color: #fff;
    }
    &__link {
      display: flex;
      justify-content: space-between;
      height: 50px;
      &--item {
        color: #fff;
        padding: 0.8em 1em;
        border-right: 1px solid #8c9bb3;
        &:hover {
          text-decoration: underline;
        }
        &.item1 {
          position: relative;
          border: none;
          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 0.8rem;
            background: #8c9bb3;
          }
        }
      }
      &--language {
        display: flex;
        flex-direction: column;
        &.block {
          li {
            display: block;
          }
        }
      }
      .language {
        &__item {
          padding: 0.8em 2em 0.8em 1em;
          &--default {
            position: relative;
            border-right: 1px solid #8c9bb3;
            color: #fff;
            &:hover {
              text-decoration: underline;
            }
            &::after {
              content: "";
              position: absolute;
              right: 0.5em;
              top: 50%;
              transform: translateY(-50%);
              width: 15px;
              height: 8px;
              background: url(../images/bg_lang.png) no-repeat;
            } 
          }
          &--hide {
            z-index: 10;
            display: none;
            background-color: #fff;
            border: 1px solid #8191aa;
            a {
              color: #4f6280;
            }
          }
          &--eng,
          &--china {
            border-top: none;
            border-bottom: 1px dotted #8191aa;
          }
          &--japan {
            border-top: none;
          }
        }
      }
    }
  }
  
  &__menu {
    @include flex-spaceBetween;
    max-width: 1500px;
    height: 85px;
    margin: 0 auto;
    &--logo {
      display: flex;
      align-items: center;
      .logo__wrap {
        margin-right: 0.5em;
      }
    }
    &--gnb,
    &--search {
      display: flex;
      align-items: center;
    }
    &--search {
      position: relative;
    }
  }
  .gnb {
    &__wrap {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      margin: 0;
    }
    &__item {
      &--link {
        position: relative;
        padding: 1em;
        font-size: 1.3rem;
        color: #3b3b3b;
        &:hover {
          color: #46679f;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 2em);
            height: 4px;
            background-color: #4f6280;
          }
        }
        &.active-menu ~ .lnb,
        &:focus ~ .lnb {
          display: block;
        }
      }
    }
  }
  .lnb {
    z-index: 10;
    display: none;
    position: absolute;
    top: 7.7em;
    left: 0;
    width: 100vw;
    background: #e7f0f9;
    border-top: 1px solid #9ba5b5;
    border-bottom: 1px solid #9ba5b5;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.12);
    &__wrap {
      display: flex;
      max-width: 1500px;
      margin: 0 auto;
      padding: 2em 0;
    }
    &__gridList {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      &--item {
        padding-right: 7em;
        margin-bottom: 1em;
        a {
          display: inline-block;
          margin-bottom: 1em;
          font-size: 1.25rem;
          color: #2d4264;
          &:hover {
            color: #2a67b3;
          }
        }
        &:not(.border-none) {
          border-left: 1px solid #d9d9d9;
          padding-left: 2em;
        }
        &.border-none {
          border: none;
        }
      }
    }
    &__list {
      width: 16.5%;
      &--link {
        display: inline-block;
        margin-bottom: 1em;
        font-size: 1.25rem;
        color: #2d4264;
        &:hover {
          color: #2a67b3;
        }
      }
      &:not(:first-child) {
        border-left: 1px solid #d9d9d9;
        padding-left: 2em;
      }
      &--subLink {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        li {
          padding-left: 0.5em;
          margin-bottom: 0.5em;
          position: relative;
          &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 7px;
            background: url(../images/sprite_img01.png) no-repeat 0 -50px;
          }
          a {
            font-size: 1.1rem;
            color: #333;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .search {
    &__input {
      height: 2rem;
      padding-left: 0.5em;
      border: 2px solid #3b3b3b;
      border-radius: 2em;
    }
    &__btn {
      display: block;
      position: absolute;
      right: 0;
      width: 2rem;
      height: 2rem;
      border: none;
      border-radius: 50%;
      background: #656565 url(../images/btn_search_top.png) no-repeat;
      text-indent: -9999px;
      cursor: pointer;
    }
  }
}

@include large {
  .header {
    .utill {
      &__eg {
        margin-left: 1em;
      }
    }
    &__menu {
      padding: 0 1em;
    }
    .gnb {
      &__item {
        &--link {
          padding: 1em 0.5em;
        }
      }
      .lnb {
        padding: 0 1rem;
      }
    }
  }
}
@media (max-width: #{$screen-breakpoint3}) {
  .header {
    .gnb {
      &__item {
        &--link {
          padding: 1em 0.35em;
          font-size: 1.15rem;
        }
      }
    }
  }
}
@include medium {
  .header {
    &__utill {
      height: 38px;
      &--inner {
        height: 38px;
      }
    }
    .utill {
      &__eg {
        font-size: 0.75rem;
        margin: 0 auto;
      }
      &__link {
        display: none;
      }
    }
    &__menu {
      border-bottom: 1px solid #d5d5d5;
      &--search {
        display: none;
      }
    }
    .logo {
      &__link {
        &--sub {
          display: none;
        }
      }
    }
    .m-nav {
      z-index: 9;
      position: fixed;
      top: 0;
      left: 0;
      max-width: 100%;
      width: 86%;
      height: 100%;
      background: #fff;
      &__trigger {
        display: block;
        width: 30px;
        height: 30px;
        button {
          display: block;
          width: 30px;
          height: 30px;
          background: url(../images/menu.png) center / contain no-repeat;
          border: none;
          cursor: pointer;
        }
      }
      &__searchBtn {
        display: block;
        width: 25px;
        height: 25px;
        background: url(../images/sprite_img01.png) no-repeat;
        background-position: -280px -130px;
        border: none;
        cursor: pointer;
      }
      &__utill {
        display: flex;
        height: 50px;
        border-bottom: 1px solid #aac7d0;
      }
      .utill {
        &__link {
          display: block;
          height: 50px;
          padding: 0 0.62em;
          font-size: 0.75rem;
          color: #293233;
          line-height: 50px;
          box-sizing: border-box;
          &--language {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            font-size: 0.75rem;
            &.block {
              li {
                display: block;
              }
            }
          }
        }
        .language {
          &__item {
            z-index: 10;
            display: none;
            padding: 0.62em;
            background: #fff;
            border: 1px solid #8191aa;
            &--default {
              display: block;
              .current-language {
                position: relative;
                height: 50px;
                padding: 0 1.5em 0 0.62em;
                color: #293233;
                line-height: 50px;
                box-sizing: border-box;
                &:hover {
                  text-decoration: underline;
                }
                &::after {
                  content: "";
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 15px;
                  height: 8px;
                  background: url(../images/bg_lang.png) no-repeat;
                } 
              }
            }
            a {
              color: #4f6280;
            }
            &--eng,
            &--china {
              border-top: none;
              border-bottom: 1px dotted #8191aa;
            }
            &--japan {
              border-top: none;
            }
          }
        }
      }
      &__gnb {
        z-index: 9;
        position: fixed;
        top: 50px;
        left: 0;
        max-width: 100%;
        width: 86%;
        height: 100%;
        align-items: normal;
        
      }
      .gnb {
        &__wrap {
          display: block;
          width: 100%;
        }
        &__item {
          max-width: 100%;
          width: 40%;
          height: 40px;
          background: #4f6280;
          border-bottom: 1px solid #9ba5b5;
          &--link {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0.45em 0.9em;
            color: #fff;
            box-sizing: border-box;
            font-size: 1.1rem;
            &-1 {
              &:hover {
                border-top: 1px solid #9ba5b5;
              }
            }
            &:hover {
              color: #293233;
              background: #e7f0f9;
              &::after {
                display: none;
              }
            }
          }
        }
      }
      .lnb {
        position: absolute;
        top: 0;
        left: 40%;
        width: 60%;
        height: calc(100% - 125px);
        overflow-y: scroll;
        box-sizing: border-box;
        box-shadow: none;
        &__wrap {
          flex-direction: column;
        }
        &__gridList {
          grid-template-columns: repeat(1, 1fr);
          &--item {
            &:not(.border-none) {
              padding-left: 0;
              border-left: none;
            }
            &:not(:last-child) {
              border-bottom: 1px solid #d9d9d9;
            }
          }
        }
        &__list {
          width: 100%;
          border-bottom: 1px solid #d9d9d9;
          &:not(:first-child) {
            padding-left: 0;
            padding-top: 1em;
            border-left: none;
          }
          > a {
            font-size: 1.1rem;
          }
          &--sublink {
            li {
              a {
                font-size: 1rem;
              }
            }
          }
        }
      }
      &__sns {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75px;
        border-top: 1px solid #d1dce0;
        .center-box {
          display: inline-block;
          margin: 0 auto
        }
        .blog {
          @include sns-icon;
          background-position: 0 -130px;
        }
        .facebook {
          @include sns-icon;
          background-position: -30px -130px;
          margin-left: 0.5em;
        }
        .twitter {
          @include sns-icon;
          background-position: -60px -130px;
          margin-left: 0.5em;
        }
        .youtube {
          @include sns-icon;
          background-position: -90px -130px;
          margin-left: 0.5em;
        }
        .kakaotv {
          @include sns-icon;
          background-position: -120px -130px;
          margin-left: 0.5em;
        }
        .instagram {
          @include sns-icon;
          background-position: -150px -130px;
          margin-left: 0.5em;
        }
      }
    }
    .close-btn {
      position: relative;
      width: 50px;
      height: 50px;
      margin-left: auto;
      background: #4f6280;
      border: none;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 11px;
        height: 11px;
        background: url(../images/icon_all.png) no-repeat;
        background-position: -422px 0;
      }
    }
    .pc-nav-wrapper {
      display: none;
    }
  }
  .active-m-menu {
    header {
      &::before {
        content: "";
        z-index: 7;
        opacity: 0.5;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
      }
      .m-sub-menu,
      .m-nav {
        display: block;
      }
    }
  }
}
@media (max-width: #{$screen-breakpoint8}) {
  .header {
    .m-nav {
      &__utill {
        justify-content: space-between;
      }
      .utill {
        &__link {
          font-size: 0.6rem;
        }
      }
      .gnb {
        &__item {
          &--link {
            font-size: 0.9rem;
          }
        }
      }
      .lnb {
        &__list {
          &--link {
            font-size: 0.9rem;
          }
          &--subLink {
            li {
              a {
                font-size: 0.75rem;
              }
            }
          }
        }
        &__gridList {
          &--item {
            padding-right: 0;
            > a {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
    .close-btn {
      width: 23px;
    }
  }
}
@media (max-width: #{$screen-breakpoint9}) {
  .header {
    .logo {
      width: 54vw;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
      }
    }
  }
}
@media (max-width: #{$screen-breakpoint10}) {
  .header {
    .m-nav {
      width: 100%;
    }
    .gnb {
      width: 100%;
    }
    
  }
}