@charset 'utf-8';

/* section : notice-report */
.notice-reports {
  height: 350px;
  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    height: 100%;
    margin: 50px auto;
    > div {
      overflow: hidden;
      width: 48%;
    }
  }
  .sub-heading {
    @include sub-heading-style;
    font-size: inherit;
    &:hover {
      position: relative;
      color: #111;
      &::after {
        @include heading-after-style;
      }
    }
  }
  .notice {
    position: relative;
    &__title {
      display: inline-block;
      &.active-notice-heading {
        @include active-heading-style;
      }
    }
    &__text {
      @include notice-content-style;
      .more-view {
        @include more-view-btn;
      }
      &.active-notice {
        display: block;
      }
    }
  }
  .reports {
    position: relative;
    &__title {
      display: inline-block;
      &.active-reports-heading {
        @include active-heading-style
      }
    }
    &__content {
      @include reports-content-style;
      &.active-report {
        display: grid;
      }
    }
    &__text {
      @include reports-content-text;
      a {
        overflow: hidden;
        display: block;
        margin-bottom: 0.5em;
        font-size: 1.1rem;
        color: #111;
        text-overflow: ellipsis;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2; // 원하는 라인수
        -webkit-box-orient: vertical;
      }
      .more-view {
        @include more-view-btn;
      }
    }
    .press-content {
      .press-text {
        height: 113px;
      }
    }
  }
  
}
@include large {
  .notice-reports {
    &-inner {
      padding: 0 1rem;
    }
  }
}
@include medium {
  .notice-reports {
    .sub-heading {
      font-size: 1.3rem;
      &:not(.first) {
        padding-left: 1.3em;
      }
    }
  }
}
@include small {
  .notice-reports {
    height: auto;
    &__inner {
      flex-direction: column;
      height: auto;
      > div {
        width: 100%;
        height: 320px;
      }
    }
    .notice-content {
      ul {
        @include mobile-notice-content;
      }
    }
    .employment-content {
      ul {
        @include mobile-notice-content;
      }
    }
    .bid-content {
      ul {
        @include mobile-notice-content;
      }
    }
    .reports {
      &__text {
        a {
          font-size: 0.87rem;
        }
        span {
          font-size: 0.87rem;
        }
      }
    }
  }
}
@media (max-width: #{$screen-breakpoint9}) {
  .notice-reports {
    &__inner {
      padding: 0 4px;
    }
    .sub-heading {
      font-size: 1.1rem;
    }
    .reports {
      width: 100%;
      height: 470px;
      &__content {
        width: 100%;
      }
      &__text {
        width: 100%;
        height: auto;
        a {
          overflow: hidden;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}